/* src/App.css */

body {
  margin: 0;
  background-color: #000000;
  overflow: hidden;
}
/* .logincontainer{

} */
.login {
    border: 1px solid var(--cyan);
    padding: 20px;
    margin: 20px;
    background: var(--mainlight);
    border-radius: 10px;
}

.input {
    margin-top: 5px;
    color: var(--white);
    background-color: var(--main);
    height: 40px;
    width: 97%; /* Adjusted to be responsive */
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
    text-shadow: var(--cyan) 0px 0px 20px;
}
.message{
  padding-top: 20px;
  height: 100px;
}

.textlabel {
    text-shadow: var(--cyan) 0px 0px 10px;
    text-align: start;
    font-size: 18px;
    display: block; /* Ensure labels take full width */
    margin-top: 15px;
    margin-bottom: 5px; /* Added spacing between labels and inputs */
}

.input:focus {
    outline: none;
    border: 1px solid var(--cyan);
}

.input:hover {
    box-shadow: var(--cyan) 0px 0px 20px;
    border: 1px solid var(--cyan);
}

.input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    color: var(--white);
    margin-top: 15px;
    background-color: var(--mainlight);
    border: 1px solid var(--cyan);
    border-radius: 10px;
    width: 100%; /* Adjusted to be responsive */
    height: 45px;
    font-size: 18px;
    text-shadow: var(--cyan) 0px 0px 20px;
    box-shadow: rgba(95, 240, 208, 0.15) 0px 0px 50px;
}

.btn:hover {
    color: var(--main);
    background-color: var(--cyan);
    cursor: pointer;
    box-shadow: var(--cyan) 0px 0px 40px;
}

:root {
    --main: #000000;
    --mainlight: #28004a;
    --white: #ccd6f6;
    --cyan: #892CDC;
}

.top-bar {
  position: sticky;
  top: 0;
  color: #ecf0f1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  z-index: 1000;
}

.top-bar a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 20px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
}
.routing{
  position: sticky;
  top: 1;
}
.main-content {
  flex: 1;
  overflow:hidden;
  height: 92vh;
  padding: 20px;
  scrollbar-width: none;
  background-color: #242424;
  color: #ecf0f1;
  margin: 10px;
  border-radius:20px;
}

.section {
  border-radius: 8px;
  height: 85vh;
}

.sidebar-container {
  position: sticky;
  top: 0;
  position: relative;
  top: 0;
  height: 92vh;
  width: 250px;
  background-color: #242424;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius:20px;
  font-family: 'calibri', sans-serif;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #892CDC;
}

.info-section,
.languages-section,
.pages-section,
.contact-info {
  text-align: center;
}

.icon {
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.pages-section a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  margin: 5px 0;
}

.pages-section a:hover {
  text-decoration: underline;
}
