/* src/App.css */

body {
  margin: 0;
  background-color: #000000;
  overflow: hidden;
}

.name{
  margin-top: 5vh;
  margin-left: 5vw;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: white;
  font-size: 4rem; 
  text-shadow: 2px 4px 3px #892CDC;
}
.kalpesh{
  color: #892CDC;
  text-shadow: 1px 1px 1px white;
}

.top-bar {
  position: sticky;
  top: 0;
  color: #ecf0f1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  z-index: 1000;
}

.top-bar a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 20px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
}
.routing{
  position: sticky;
  top: 1;
}
.main-content {
  flex: 1;
  overflow:hidden;
  height: 92vh;
  padding: 20px;
  scrollbar-width: none;
  background-color: #242424;
  color: #ecf0f1;
  margin: 10px;
  border-radius:20px;
}

.section {
  border-radius: 8px;
  height: 85vh;
}

.sidebar-container {
  position: sticky;
  top: 0;
  position: relative;
  top: 0;
  height: 92vh;
  width: 250px;
  background-color: #242424;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius:20px;
  font-family: 'calibri', sans-serif;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #892CDC;
}

.info-section,
.languages-section,
.pages-section,
.contact-info {
  text-align: center;
}

.icon {
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.pages-section a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  margin: 5px 0;
}

.pages-section a:hover {
  text-decoration: underline;
}
