/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
 
 
}

.app-container {
  display: flex;
}

.main-content {
  flex: 1;
  overflow: auto;
  height: 95vh;
  padding: 20px;
  scrollbar-width: none;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  height: 90vh;
}

.sidebar-container {
  position: relative;
  top: 0;
  height: 92vh;
  width: 250px;
  background-color: #242424;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius:20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #892CDC;
}

.info-section,
.languages-section,
.pages-section,
.contact-info {
  text-align: center;
}

.icon {
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.pages-section a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  margin: 5px 0;
}

.pages-section a:hover {
  text-decoration: underline;
}

#home{
  z-index: 6;
  background-color: blue;
}
#interns{
  z-index: 5;
  background-color: yellow;
}
#education{
  z-index: 4;
  background-color: green;
}
#projects{
  z-index: 3;
  background-color: red;
}
#contact{
  z-index: 2;
  background-color: white;
}
#blog{
  z-index: 0;
  background-color: pink;
}